$vert_fonce: #416c25;
$vert: #79b51d;
$jaune: #f6cc08;

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

@mixin text_color_center($color) {
  color: $color;
  text-align: center;
  a {
    color: inherit;
  }
}

@mixin img_100 {
  img {
    width: 100%;
  }
}

.filtre_vert {
  background-color: $vert_fonce;
  @include text_color_center(#fff);
}

.menu {
  display: flex;
  justify-content: space-around;
}

.entree_menu {
  padding: 10px;
}

.bandeau_menu {
  @extend .menu;
  @include text_color_center(#000);
  .image_ab_bandeau {
    flex-grow: 0;
  }
  div {
    flex-grow: 1;
  }
}

.image_ab_bandeau img {
  height: 44px;
}

.cadre_vert_menu, .cadre_vert {
  background-color: $vert;
}

.cadre_jaune_menu, .cadre_jaune {
  background-color: $jaune;
}

.img_fond {
  @include img_100;
}

.separateur {
  height: 30px;
}

.row {
  display: flex;
  margin: 10px;
}

.row_bandes {
  height: 20px;
  margin: 0;
  div {
    width: 50%;
  }
}

.actus {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.img-actu {
  width: 40%;
  margin-right: 20px;
  @include img_100;
}

.texte_actu {
  width: 60%;
}

.img-texte-legumes {
  height: 30px;
  background-image: url("../img/texte-legumes-de-saison.png");
  background-blend-mode: soft-light;
  background-repeat: repeat-x;
}

.producteur {
  margin: 0 30px;
  @include img_100;
  .cadre_vert_titre {
    text-align: center;
    background-color: $vert;
  }
  .img-producteur {
    margin: 20px 0;
  }
  .slide-legumes {
    @include text_color_center(#fff);
    background-color: $vert;
    font-size: 1.5rem;
    padding: 10px 0;
  }
}

